*{
  margin: 0;
  scroll-behavior: smooth; 
}

nav{
  position: sticky; /*Makes the nav stick to the top of the webpage*/
  top: 0px;
}

/*Navbar*/
ul { /*Making the list into a bar basically*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  background-color: #ffff80; /*Can change this later to whatever we want*/
}

li{
  display: inline-block;
}

li a {/*Text of the navbar*/
  font-family: /*Replace with font*/;
  font-size: 18px;
  display: block;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  padding-bottom: 20px;
}

li a:hover{
  /*add hover affects*/  
}